.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/beer-932994_1280.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 376px;
}

.u-section-1 .u-text-1 {
  font-family: Candal;
  margin: 105px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 44px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 43px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 112px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 568px;
}

.u-section-2 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -85px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
  }

  .u-section-2 .u-image-2 {
    height: 338px;
  }

  .u-section-2 .u-image-3 {
    height: 338px;
  }

  .u-section-2 .u-image-4 {
    height: 338px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -56px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 563px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 563px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 563px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 350px;
  }

  .u-section-2 .u-image-2 {
    height: 350px;
  }

  .u-section-2 .u-image-3 {
    height: 350px;
  }

  .u-section-2 .u-image-4 {
    height: 350px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 588px;
}

.u-section-3 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-3 .u-image-1 {
  height: 272px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-1 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-3 .u-image-2 {
  height: 272px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-2 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-3 .u-image-3 {
  height: 272px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-3 {
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-3 .u-image-4 {
  height: 272px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-product-price-4 {
  margin: 21px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-3 .u-products-1 {
    height: auto;
    margin-top: 1px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-3 .u-image-1 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 588px;
}

.u-section-4 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-4 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-4 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-4 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-4 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-4 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-products-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-4 .u-image-1 {
    height: 229px;
  }

  .u-section-4 .u-image-2 {
    height: 229px;
  }

  .u-section-4 .u-image-3 {
    height: 229px;
  }

  .u-section-4 .u-image-4 {
    height: 229px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -88px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 338px;
  }

  .u-section-4 .u-image-2 {
    height: 338px;
  }

  .u-section-4 .u-image-3 {
    height: 338px;
  }

  .u-section-4 .u-image-4 {
    height: 338px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -48px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 563px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 563px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 563px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 350px;
  }

  .u-section-4 .u-image-2 {
    height: 350px;
  }

  .u-section-4 .u-image-3 {
    height: 350px;
  }

  .u-section-4 .u-image-4 {
    height: 350px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 588px;
}

.u-section-5 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-5 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-5 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-5 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-5 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-products-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-5 .u-image-1 {
    height: 229px;
  }

  .u-section-5 .u-image-2 {
    height: 229px;
  }

  .u-section-5 .u-image-3 {
    height: 229px;
  }

  .u-section-5 .u-image-4 {
    height: 229px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -84px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    height: 338px;
  }

  .u-section-5 .u-image-2 {
    height: 338px;
  }

  .u-section-5 .u-image-3 {
    height: 338px;
  }

  .u-section-5 .u-image-4 {
    height: 338px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -62px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 563px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 350px;
  }

  .u-section-5 .u-image-2 {
    height: 350px;
  }

  .u-section-5 .u-image-3 {
    height: 350px;
  }

  .u-section-5 .u-image-4 {
    height: 350px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 603px;
}

.u-section-6 .u-products-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 449px;
}

.u-section-6 .u-repeater-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-6 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-6 .u-repeater-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 16px;
}

.u-section-6 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-repeater-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-6 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 520px;
  }

  .u-section-6 .u-image-1 {
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 506px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-6 .u-image-3 {
    height: 365px;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 588px;
}

.u-section-7 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-7 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-7 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-7 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-7 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-products-1 {
    height: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-7 .u-image-1 {
    height: 229px;
  }

  .u-section-7 .u-image-2 {
    height: 229px;
  }

  .u-section-7 .u-image-3 {
    height: 229px;
  }

  .u-section-7 .u-image-4 {
    height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-7 .u-image-1 {
    height: 338px;
  }

  .u-section-7 .u-image-2 {
    height: 338px;
  }

  .u-section-7 .u-image-3 {
    height: 338px;
  }

  .u-section-7 .u-image-4 {
    height: 338px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 563px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    height: 350px;
  }

  .u-section-7 .u-image-2 {
    height: 350px;
  }

  .u-section-7 .u-image-3 {
    height: 350px;
  }

  .u-section-7 .u-image-4 {
    height: 350px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 588px;
}

.u-section-8 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-8 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-8 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-8 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-8 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-8 .u-products-1 {
    height: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-8 .u-image-1 {
    height: 229px;
  }

  .u-section-8 .u-image-2 {
    height: 229px;
  }

  .u-section-8 .u-image-3 {
    height: 229px;
  }

  .u-section-8 .u-image-4 {
    height: 229px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: -71px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-8 .u-image-1 {
    height: 338px;
  }

  .u-section-8 .u-image-2 {
    height: 338px;
  }

  .u-section-8 .u-image-3 {
    height: 338px;
  }

  .u-section-8 .u-image-4 {
    height: 338px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: -58px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 563px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 563px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 563px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 350px;
  }

  .u-section-8 .u-image-2 {
    height: 350px;
  }

  .u-section-8 .u-image-3 {
    height: 350px;
  }

  .u-section-8 .u-image-4 {
    height: 350px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 588px;
}

.u-section-9 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-9 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-9 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-9 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-9 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-9 .u-products-1 {
    height: auto;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-9 .u-image-1 {
    height: 229px;
  }

  .u-section-9 .u-image-2 {
    height: 229px;
  }

  .u-section-9 .u-image-3 {
    height: 229px;
  }

  .u-section-9 .u-image-4 {
    height: 229px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: -69px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-9 .u-image-1 {
    height: 338px;
  }

  .u-section-9 .u-image-2 {
    height: 338px;
  }

  .u-section-9 .u-image-3 {
    height: 338px;
  }

  .u-section-9 .u-image-4 {
    height: 338px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: -49px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    height: 563px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 350px;
  }

  .u-section-9 .u-image-2 {
    height: 350px;
  }

  .u-section-9 .u-image-3 {
    height: 350px;
  }

  .u-section-9 .u-image-4 {
    height: 350px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 603px;
}

.u-section-10 .u-products-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-10 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 449px;
}

.u-section-10 .u-repeater-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-10 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-10 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-10 .u-repeater-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 16px;
}

.u-section-10 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-10 .u-repeater-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 30px 16px;
}

.u-section-10 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-10 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 506px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    height: 506px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-3 {
    height: 506px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    height: 365px;
  }

  .u-section-10 .u-image-2 {
    height: 365px;
  }

  .u-section-10 .u-image-3 {
    height: 365px;
  }
}.u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/beer-932994_1280.webp");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 469px;
}

.u-section-11 .u-text-1 {
  font-size: 1.25rem;
  width: 670px;
  margin: 57px auto 0;
}

.u-section-11 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 39px auto 0;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-11 .u-text-1 {
    height: 64px;
  }

  .u-section-11 .u-social-icons-1 {
    margin-top: 135px;
    margin-left: 410px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-social-icons-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-social-icons-1 {
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-social-icons-1 {
    margin-top: 244px;
    margin-left: 109px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 41px;
    margin-bottom: 32px;
  }
}