.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/hero_1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Candal;
  margin: 115px 340px 0 0;
}

.u-section-1 .u-line-1 {
  width: 305px;
  transform-origin: left center;
  height: 4px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 340px 0 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 20px 333px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px 0 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 13px 19px;
}

.u-section-2 .u-image-1 {
  height: 272px;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  margin: 21px 1px 0;
}

.u-section-2 .u-product-price-1 {
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 13px 19px;
}

.u-section-2 .u-image-2 {
  height: 272px;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  margin: 21px 1px 0;
}

.u-section-2 .u-product-price-2 {
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 13px 19px;
}

.u-section-2 .u-image-3 {
  height: 272px;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  margin: 21px 1px 0;
}

.u-section-2 .u-product-price-3 {
  margin: 21px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 13px 19px;
}

.u-section-2 .u-image-4 {
  height: 272px;
  margin: 0 1px 0 auto;
}

.u-section-2 .u-text-4 {
  letter-spacing: 0px;
  margin: 21px 1px 0;
}

.u-section-2 .u-product-price-4 {
  margin: 21px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-products-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: -82px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: -82px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -82px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -81px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -54px;
    margin-bottom: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 563px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 350px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/alcoholic-beverages-1845295_1920.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-text-1 {
  width: 561px;
  font-family: Candal;
  margin: 45px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 488px;
  margin: 20px auto 45px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 38px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-4 {
  margin: 0 -60px;
}

.u-section-3 .u-text-5 {
  margin: 0 -60px;
}

.u-section-3 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/hero_11.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 469px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 670px;
  margin: 57px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 39px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-right: 123px;
    margin-left: 147px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 35px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 52px;
    margin-right: 13px;
    margin-left: 37px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 37px;
    margin-right: 299px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 560px;
  }
}