.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 588px;
}

.u-section-1 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-1 .u-image-1 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-1 .u-image-2 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-1 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-1 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-products-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    height: 229px;
  }

  .u-section-1 .u-image-2 {
    height: 229px;
  }

  .u-section-1 .u-image-3 {
    height: 229px;
  }

  .u-section-1 .u-image-4 {
    height: 229px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -79px;
    margin-bottom: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
  }

  .u-section-1 .u-image-2 {
    height: 338px;
  }

  .u-section-1 .u-image-3 {
    height: 338px;
  }

  .u-section-1 .u-image-4 {
    height: 338px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -51px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 563px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 563px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 350px;
  }

  .u-section-1 .u-image-2 {
    height: 350px;
  }

  .u-section-1 .u-image-3 {
    height: 350px;
  }

  .u-section-1 .u-image-4 {
    height: 350px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 25%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-1 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-2 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-2 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-2 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-3 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 13px;
}

.u-section-2 .u-image-4 {
  height: 272px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-2 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-products-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 468px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 229px;
    margin-right: initial;
  }

  .u-section-2 .u-image-3 {
    height: 229px;
    margin-right: initial;
  }

  .u-section-2 .u-image-4 {
    height: 229px;
    margin-right: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -91px;
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 338px;
    margin-right: initial;
  }

  .u-section-2 .u-image-3 {
    height: 338px;
    margin-right: initial;
  }

  .u-section-2 .u-image-4 {
    height: 338px;
    margin-right: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -50px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 563px;
    margin-right: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 563px;
    margin-right: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 563px;
    margin-right: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 563px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 350px;
    margin-right: initial;
  }

  .u-section-2 .u-image-2 {
    height: 350px;
    margin-right: initial;
  }

  .u-section-2 .u-image-3 {
    height: 350px;
    margin-right: initial;
  }

  .u-section-2 .u-image-4 {
    height: 350px;
    margin-right: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 86px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 51px 114px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: url("images/40smirnof.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 14px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/alcoholic-beverages-1845295_1920.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 534px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  width: 670px;
  margin: 57px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 39px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 60px;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-4 .u-social-icons-1 {
    min-width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-social-icons-1 {
    min-width: 52px;
    margin-top: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}